.separator {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .react-parallax-content {
    justify-content: center;
  }
  .separator-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
      color: $white;
    }
    padding: 300px 0;
  }
  .separator-image {
    background-repeat: no-repeat;
  }
}
