//Fix Static Color code for Theme Switcher (We don't change color code of Theme Switcher)
.style-switcher {
  font-family: var(--font-sofia);
  // background: $secondary-color;
  background-color: #002348;
  border-radius: 0;
  bottom: 0;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  left: -308px;
  position: fixed;
  top: 0;
  transition: left 0.2s;
  width: 308px;
  z-index: 9999;

  &.active {
    left: 0;
  }

  .style-switcher-action-links {
    @extend %fontsize22;
    @include abs-position(40%, -40px, initial, initial);
    display: block;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    width: 40px;

    a {
      @extend %fontsize16;
      @include flexbox();
      align-items: center;
      // background: $secondary-color;
      background-color: #002348;
      border: 1px solid #002348;
      border-radius: 0 4px 4px 0;
      height: 40px;
      justify-content: center;
      margin-bottom: 2px;
      width: 40px;

      svg {
        color: $white;
      }
    }
  }

  h5 {
    @extend %fontsize14;

    color: #f8f8f8;
    font-weight: $regular-weight;
    opacity: 0.7;
    line-height: 21px;
    margin: 0 0 5px;
    padding: 0;
    text-transform: none;
  }

  .form-control {
    @extend %fontsize14;
    background-color: $white;
    border: 1px solid $border-color;
    color: $black;
  }

  .style-switcher-wrap {
    height: 100%;
    margin: 0;
    overflow-y: auto;
    position: relative;

    .form-inner {
      padding: 16px 30px 10px;
    }
  }

  .category {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 15px;
    }

    a {
      color: $white;
    }
  }

  .category-headline {
    margin-bottom: 7px;
    position: relative;

    h4 {
      @extend %fontsize16;
      // background-color: $secondary-color;
      background-color: #002348;
      color: $white;
      display: inline-block;
      font-weight: $semibold-weight;
      line-height: 30px;
      margin: 0;
      padding-right: 15px;
      vertical-align: top;
    }
  }

  .style-switcher-buttons {
    @include flexbox();
    align-items: center;
    border-top: 1px solid $border-color;
    justify-content: center;
    padding: 8px 30px 15px;

    a {
      @extend %fontsize14;
      display: inline-block;
      padding: 8px;
    }

    .btn {
      @extend %fontsize14;
      background-color: $black;
      border: 0;
      border-radius: 4px;
      color: $white;
      padding: 7px 15px;
      width: auto;

      &.submit,
      &.reset {
        background-color: $black;
        border: 1px solid $white;
        color: $white;
        margin-right: 10px;
        &:hover {
          // background-color: $secondary-color;
          background-color: #002348;
          color: $white;
        }
      }
    }
  }

  .options-links {
    a {
      @extend %fontsize14;
      background-color: $black;
      border-radius: 4px;
      color: #f8f8f8;
      display: inline-block;
      line-height: normal;
      margin-bottom: 0;
      margin-right: 8px;
      padding: 5px 12px;
      text-decoration: none;
      transition: (all, 0.2s, ease, 0s);

      &:last-child {
        margin-right: 0;
      }

      &.active {
        background: $white;
        color: $black;
      }
    }
  }

  .colorpicker-element {
    margin: 0 0 15px;

    input {
      border-radius: 4px;
      height: 39px;
      padding: 5px 10px;
    }

    .input-group-append {
      .input-group-text {
        border-radius: 4px 0 0 4px;
        height: 39px;
        padding: 5px 8px;
        width: 100%;
      }

      input {
        background-color: transparent;
        border: 0;
        height: 16px;
        padding: 0;
        width: 16px;
      }
    }
  }

  .font-switcher {
    .font-family__input,
    textarea {
      @extend %fontsize14;
      background-color: #f8f8f8;
      border: 1px solid $border-color;
      border-radius: 0;
      line-height: 22px;
      margin-bottom: 10px;
      padding: 7px;
      width: 100%;

      &:focus {
        border: 1px solid $border-color;
        box-shadow: none;
        outline: none;
      }
    }
  }
}
